name: CloudRDP-Cloudflared

on:
  workflow_dispatch:
    inputs:
      runtime_minutes:
        description: "Thời gian giữ máy hoạt động"
        required: false
        default: "350"

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Tạo user RDP
        run: |
          net user clouduser CloudPass123! /add
          net localgroup "Administrators" clouduser /add
          net localgroup "Remote Desktop Users" clouduser /add

      - name: Bật RDP & Firewall
        run: |
          Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" `
            -Name "fDenyTSConnections" -Value 0

          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          netsh advfirewall firewall add rule name="RDP3389" dir=in action=allow protocol=TCP localport=3389

          Set-Service -Name TermService -StartupType Automatic
          Start-Service -Name TermService

      - name: Tải Cloudflared
        run: |
          Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe -OutFile cloudflared.exe

      - name: Tạo Tunnel TCP 3389 & Lấy URL
        id: tunnel
        shell: pwsh
        run: |
          $output = & .\cloudflared.exe tunnel --url tcp://localhost:3389 --no-autoupdate 2>&1
          Write-Output "RAW OUTPUT:"
          Write-Output $output

          # Parse URL TCP từ stdout
          $tcp = ($output | Select-String -Pattern "tcp://.*").Matches.Value
          if (-not $tcp) {
              Write-Host "❌ Không tìm thấy URL TCP!"
              exit 1
          }

          Write-Output "url=$tcp" >> $env:GITHUB_OUTPUT

      - name: Xuất thông tin RDP
        run: |
          Write-Host "==========================="
          Write-Host "         CLOUD RDP"
          Write-Host "==========================="
          Write-Host "User: clouduser"
          Write-Host "Pass: CloudPass123!"
          Write-Host "RDP : ${{ steps.tunnel.outputs.url }}"
          Write-Host "==========================="

      - name: Giữ máy hoạt động
        run: |
          $end = (Get-Date).AddMinutes(${ { github.event.inputs.runtime_minutes } })
          while ((Get-Date) -lt $end) {
            Start-Sleep -Seconds 30
          }